<!DOCTYPE html>
<html>
  <head>
    <title>On The Beach Holidays</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/">
              <h3 class="panel-title">Holidays</h3>
            </a>
          </div>
          <div class="panel-body">

          <div>
            <form method="get">
              <input id="search" name="q" type="text" />
              <input id="search-submit" type="submit" value="search">
            </form>
          </div>
          <br />

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
