<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr class="holiday-row">
        <td><%= holiday['region'] %></td>
        <td><%= holiday['price'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
